<ol>
  <li>
    <span class="ghost">👻︎</span>
    I'm ghost1, joyful and red
  </li>
  <li>
    <span class="ghost">👻︎</span>
    I'm ghost2, jelly and green
  </li>
  <li>
    <span class="ghost">👻︎</span>
    I'm ghost3, wobbly and blue
  </li>
</ol>

<!-- 1. Make use of the three ghost objects in the AppComponent to animate the ghosts using class binding and the .joyful .jelly .wobbly classes already defined in the component css file -->
<!-- 2. Make use of the three ghost objects in the AppComponent to give a color to each ghost using style binding -->

<!-- TIP: Do not remove class="ghost" from each span-->
